body {
    background-color: #89b2f4;
}
#game{
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
    margin: 50px auto;
    cursor: url('crosshair.png'), pointer; 
}

#cv,#fond {
	position: absolute;
}
#cv{
	z-index: 1;
}
#fond{
	z-index: 0;
}
#blood{
	z-index: 2;
}